<div class="container">
    <div class="row">
      <div class="col-md-9 has-bg-img">
        <!-- <p class="h1 text-danger display-3"> -->
          <img src="https://media.istockphoto.com/id/687810238/photo/pug-dog-with-yellow-constructor-safety-helmet-and-cone-and-404-error-and-dead-end-sign-on.jpg?b=1&s=170667a&w=0&k=20&c=xDoF6tCPAMDUIdr_2pSsi6Pm8dtDxCyhQpYyNvskDyY=" alt="page not found">
          <!-- The page you are searching for is unavailable. -->
        <!-- </p> -->
        
      </div>
    </div>
  </div>
  
