.formCss{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.h1Style {
    text-align: center;
    margin-top: 47px;
    font-size: x-large;
    margin-bottom: 45px;
}
